## Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  

#### In addition to the above analysis, the following three observations were determined based on the data:

1. Based on gender purchasing analysis, while the percentage of female players is less in comparsion to male players, females are willing to pay higher prices with an average total purchase of \\$4.47 per person, approximately a 10% difference compared to males who average a total of \\$4.07 per person.  

2. Based on age purchasing analysis, the demographic age group of 20-24 years purchase the most items, a purchase count of 365, a total purchase value of \\$1,114.06, compared to all other age groups with the age group of 15-19 falling second with a purchase count of 136, a total purchase value of \\$412.89. It is no surprise as the peak age demographic falls between ages 20-24 with the secondary group falling between 15-19 as stated earlier. 

3. Also, in further reviewing the age purchase analysis, the age group of 35-39, while not the most active age group, are whiling to spend more on average total purchase per person in the amount of \\$4.76 compared to other average total purchase per person in other age groups. Those ten years or younger, would fall second with an average total purchase of \\$4.54. 

#### Based on the further described observations, it is recommended that we increase marketing efforts to attract more players within the age groups of 10 years or younger and 35-39. With these increased marketing efforts, it is projected that we'll increase active players within these said age groups, thus increasing our revenue for purchased items.   
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [318]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [319]:
# Show just the header
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [320]:
# Create a dataframe with unique total number of players
player_demographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
total_players_count = player_demographics.count()[0]
total_players_count

total_players_df = pd.DataFrame([{"Total Players": total_players_count}])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [321]:
# Create values
unique_items = len(purchase_data["Item ID"].unique())
average_price = round(purchase_data["Price"].mean(), 2)
number_of_purchases = purchase_data["Price"].count()
total_revenue = round(purchase_data["Price"].sum(), 2)

# Create dataframe with values
purchasing_analysis_df = pd.DataFrame([{"Number of Unique Items": unique_items,
                                      "Average Price": average_price,
                                      "Number of Purchases": number_of_purchases,
                                      "Total Revenue": total_revenue}])

# Create a value to add styling to the data to include dollar signs where needed
format_dict = {'Average Price':'${0:,.2f}', 'Total Revenue':'${0:,.2f}'}

purchasing_analysis_df.style.format(format_dict)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [322]:
# Create variables for total gender count and eliminate duplicate SN's to get the count of gender demographic players and get percentages
gender_demographics = player_demographics["Gender"].value_counts()
gender_demographics_percent = gender_demographics/ total_players_count
gender_demographics_percent

# Create datafrme with gender demographics
gender_demographics_df = pd.DataFrame({"Total Count": gender_demographics,
                                      "Percentage of Players": gender_demographics_percent})

# Create a value to add styling to the data to include percentage
format_dict_2 = {'Percentage of Players': '{:.2%}'}

gender_demographics_df.style.format(format_dict_2)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [323]:
# Create variables to determine total purchasing analysis by gender demographics
purchase_count = purchase_data.groupby(["Gender"]).count()["Price"]
average_purchase_price = purchase_data.groupby(["Gender"]).mean()["Price"]
total_purchase_value = purchase_data.groupby(["Gender"]).sum()["Price"]
avg_purchase_per_person = total_purchase_value/gender_demographics

purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                      "Average Purchase Price": average_purchase_price,
                                      "Total Purchase Value": total_purchase_value,
                                      "Avg Total Purchase per Person": avg_purchase_per_person})

# Create a value to add styling to the data to include dollar signs where needed
format_dict_3 = {'Average Purchase Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}', 'Avg Total Purchase per Person':'${0:,.2f}'}

purchasing_analysis_df.style.format(format_dict_3)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [324]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 200]

# Create age group ranges variable
group_label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Use age bins to group players
player_demographics["Age Ranges"] = pd.cut(player_demographics["Age"], age_bins, labels = group_label)

# Calculate the total count and percentages per age group
age_demographic_total = player_demographics["Age Ranges"].value_counts()
players_percentage = age_demographic_total / total_players_count
age_demographics_df = pd.DataFrame({"Total Count of Age Demographics": age_demographic_total,
                                    "Percentage of Players Per Age Demographics": players_percentage})

# Create a value to add styling to the data to include percentage
format_dict_4 = {'Percentage of Players Per Age Demographics': '{:.2%}'}

# Display age demographics table and sort
age_demographics_df.sort_index().style.format(format_dict_4)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [325]:
# Bin the purchase_data data frame by age
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels = group_label)

#Create variables
purchase_count = purchase_data.groupby(["Age Ranges"]).count()["Price"]
avg_purchase_price = purchase_data.groupby(["Age Ranges"]).mean()["Price"]
total_purchase_value = purchase_data.groupby(["Age Ranges"]).sum()["Price"]
avg_total_purchase = total_purchase_value / age_demographics_df["Total Count of Age Demographics"]

purchasing_analysis_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                       "Average Purchase Price": avg_purchase_price, 
                                       "Total Purchase Value": total_purchase_value, 
                                       "Avg Total Purchase per Person": avg_total_purchase})

# Create a value to add styling to the data to include percentage
format_dict_5 = {'Average Purchase Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}', 'Avg Total Purchase per Person':'${0:,.2f}'}

# Display age demographics table and sort
purchasing_analysis_df.sort_index().style.format(format_dict_5)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [326]:
# Create variables to calculate results as displayed in the table
spender_count = purchase_data.groupby(["SN"]).count()["Price"]
spender_avg = purchase_data.groupby(["SN"]).mean()["Price"]
spender_total = purchase_data.groupby(["SN"]).sum()["Price"]


top_spenders_df = pd.DataFrame({"Purchase Count": spender_count, 
                                "Average Purchase Price": spender_avg, 
                                "Total Purchase Value": spender_total}) 

top_spenders_df = top_spenders_df.sort_values("Total Purchase Value", ascending=False)

# Create a value to add styling to the data to include percentage
format_dict_6 = {'Average Purchase Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}'}

# Display age demographics table and sort
top_spenders_df.head(5).style.format(format_dict_6)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [327]:
# Retrieve the Item ID, Item Name, and Item Price columns
item_columns = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

# Groupby the items and make calculations
item_purchase_count = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"]
item_price = item_columns.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_total_purchase = item_columns.groupby(["Item ID", "Item Name"]).sum()["Price"]

popular_items_df = pd.DataFrame({"Purchase Count": item_purchase_count, 
                                "Item Price": item_price, 
                                "Total Purchase Value": item_total_purchase}) 

popular_items_df = popular_items_df.sort_values("Purchase Count", ascending=False)

# Create a value to add styling to the data to include percentage
format_dict_7 = {'Item Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}'}

# Display age demographics table and sort
popular_items_df.head(5).style.format(format_dict_7)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [328]:
# Sort the above table by total purchase value in descending order
total_purchase_value = popular_items_df.sort_values("Total Purchase Value", ascending=False)

profitable_items = total_purchase_value.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

# Create a value to add styling to the data to include percentage
format_dict_8 = {'Item Price':'${0:,.2f}', 'Total Purchase Value':'${0:,.2f}'}

# Display age demographics table and sort
profitable_items.head(5).style.format(format_dict_8)